{% extends "blog/index.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form action="signin" method="POST"> 
        {% csrf_token %}
            <label for ="">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter Your username" required>
            <br>
        
    
            <label for ="">Password</label>
            <input type="text" id="pass1" name="pass1" placeholder="Enter Your Password" required>
            <br>

            <button type="submit">Sign In</button>
            
        </form>
{% endblock %}